#frequencyTableDiv{
	border: 1px solid;
	background-color: lightgrey;
	width: 200px;
	text-align: center;
	align-content: center;
}

td{
	border: 1px solid;
	background-color: lightcoral;
	align-content: center;
	text-align: center;
}